/* folder & file structure setup based on: 
 https://www.learnhowtoprogram.com/user-interfaces/building-layouts-preprocessors/7-1-sass-architecture
*/

@import 'base/normalize';
@import 'abstracts/variables';
@import 'components/card-container';

body {
  background-color: $light;
}

.card {
  padding: 0.625rem;
  margin: 0.625rem;
}

img {
  width: 15.625rem;
}
