.header {
  max-width: 75rem;
  margin: 0 auto;
  h1,
  h2,
  p {
    text-align: center;
  }
  @media only screen and (max-width: 700px){
    p {
      display: none;
    }
  }
  /*Create a media query for min-width: 700px. Using rem, update our font-sizes 
so they will be larger for screen sizes with a min-width of 700px.*/
@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2.25rem * 1.5;
  }

  p {
    font-size: 0.75rem * 1.5;
  }
  /*
Create a media query for min-width: 1000px. Using rem, update our font-sizes again, 
so they will be larger for screen sizes with a min-width of 1000px.
*/
  @media only screen and (min-width: 1000px) {
    h1 {
      font-size: 2.25rem * 2;
    }

    p {
      font-size: 0.75rem * 2;
    }
  }
}



  
}
