.card-container {
  max-width: 1200px;
  margin: 0 auto;

  p,
  h3 {
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    gap: 10px;
    margin-bottom: auto;
  }

  .column {
    flex: 1;
    // padding: 10px 0;
  }

  @media only screen and (max-width: 768px) {
    .center-image {
      display: flex;
      justify-content: center;
    }
    .row {
      flex-wrap: wrap;
    }
    .column {
      flex-basis: 100%;
    }
  }
}
