@import 'abstracts/variables';

.card-container {
  max-width: 1200px;
  margin: 0 auto;

  .card {
    border: solid 2px $coral;
  }

  img {
    border: solid 1px black;
  }
  .row {
    display: flex;
    gap: 10px;
    margin-bottom: auto;
  }

  .column {
    flex: 1;
    // padding: 1rem 0;
  }

  @media only screen and (max-width: 768px) {
    .row {
      flex-wrap: wrap;
    }
  }
}
